h1, h2 {
	color: #CE1141;
	text-decoration: underline;
}

body {
	background-color: #888888;
	background-image: url(/img/james_harden.jpg);
	background-size: 25%;
	color: #C4CED3;
	font-style: oblique;
}

ul {
	list-style: circle;
}

table {
	font-style: italic;
	font-size: 12px;
	padding: 25px;
}

a:link {
	color: #C4CED3;
}

a:visited {
	color: #CE1141;
}

a:hover {
	color: #FFFFFF;
}

a:active {
	color: #FF0000;
}
